@import '~styles/variables.scss';

.button {
  composes: btn from 'basscss-btn/css/btn.css';
  composes: btn-outline from 'basscss-btn-outline/css/btn-outline.css';
  margin: 5px 5px;
}

.button-home {
  composes: btn from 'basscss-btn/css/btn.css';
  composes: btn-primary from 'basscss-btn-primary/css/btn-primary.css';
  display: block;
  margin: 10px auto;
  background-color: $color-blue;
}
