@import 'basscss-basic/index.css';

:global

  * {
    outline: 0;
    margin: 0;
    padding: 0;
  }
  
  ul {
      margin: 0;
      padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
