.center-vertical {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  composes: center-vertical;
  text-align: center;
}

.clearfix {
  composes: clearfix max-width-4 from 'basscss-layout/css/layout.css';
  composes: mx-auto from 'basscss-margin/css/margin.css';
}

.col-6 {
  composes: col col-6 from 'basscss-grid/css/grid.css';
}

.col-right {
  composes: col-right from 'basscss-grid/css/grid.css';
}

.hide-on-small {
  composes: sm-hide xs-hide from 'basscss-hide/css/hide.css';
}
